form {

  &#form-introduction {
    width: calc(100% - 60px);
    margin: 0 auto 10px;
    overflow: hidden;

    input[type="submit"] {
      color: #FFFFFF;
      cursor: pointer;
      background: radial-gradient(farthest-side ellipse at 10% 0, #334C67 20%, #17253B);
    }
  }

  &#form-user {
    width: calc(100% - 60px);
    margin: 0 auto 10px;
    overflow: hidden;

    input[type="submit"] {
      color: #FFFFFF;
      cursor: pointer;
      background: radial-gradient(farthest-side ellipse at 10% 0, #334C67 20%, #17253B);
    }
  }

  input,
  select,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-weight: 700;
    color: black;
    border: 2px solid black;
  }
}
