.modal {

  &__add {
    position: absolute;
    right: 10px;
    bottom: 10px;
    cursor: pointer;

    &:hover {
      transform: rotate(90deg);
      transition: .3s;
    }
  }

  &__head {
    padding: 20px;
    margin-bottom: 30px;
    color: white;
    text-transform: uppercase;
    background: radial-gradient(farthest-side ellipse at 10% 0, #17253B 20%, #334C67);
  }
}
