.wizard {
  position: absolute;
  top: 90px;
  right: 0;
  left: 0;
  width: calc(100% - 80px);
  min-height: 310px;
  margin: auto;
  background: #FFFFFF;

  &__steps {
    display: flex;
    padding: 20px 100px;
    background-color: #CCD5DA;
    justify-content: center;
    align-items: center;
  }

  &__step {
    position: relative;
    width: 30px;
    padding: 5px;
    margin: 0 10px;
    color: #FFFFFF;
    text-align: center;
    background: grey;
    border-radius: 50%;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: -20px;
      bottom: 0;
      display: block;
      width: 20px;
      height: 2px;
      margin: auto;
      background: grey;
    }

    &:last-child::before {
      content: none;
    }

    &.active {
      background-color: #092B46;
    }

    &.active::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: -45px;
      left: 0;
      display: block;
      width: 30px;
      height: 30px;
      background: white;
      transform: rotate(45deg);
    }

    &.passed {
      background: #0C4609;
    }
  }

  &__content {
    padding: 40px 100px;
  }

  &__next-buttons {
    display: flex;
    padding: 20px 100px;
    border-top: 2px solid #CCD5DA;
    align-items: center;
    justify-content: space-between;
  }

  .form {

    &-row {
      position: relative;
      display: flex;

      p {
        position: absolute;
        bottom: 16px;
        font-size: 10px;
      }
    }

    &-group {
      margin: 0 35px 25px 0;
    }

    label {
      display: block;
      margin-bottom: 5px;
    }

    input {
      padding: 8px 10px;
      border: 1px solid #CCD5DA;
    }
  }
}

.wizard-container {

  h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;

    img {
      width: 170px;
    }
  }

  h2 {
    color: #002B45;
  }

  h3 {
    color: #FF0049;
  }

  button {
    cursor: pointer;
    background: none;
    border: 0;

    &.disabled {
      cursor: initial;
      opacity: 60%;
    }

    &.btn {
      padding: 12px 20px;
      color: #FFFFFF;
      background-color: #002B45;
    }
  }

  p {
    margin: 5px 0 12px;
    color: #002B45;
  }

  label {
    color: #000000;
  }

  .create-pass {
    display: flex;
    margin: 25px auto;
  }
}
