.observer {
  padding: 0;

  &-container {
    transition: .4s;
  }

  &__section {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: 300;
  }

  /* .opacity-off {
    opacity: 0%;
    transition: 1.4s;
  }

  .opacity-on {
    opacity: 100%;
    transition: 1.4s;
  } */

  &__transition-end {
    color: #FFFFFF;
    opacity: 100%;
    transform: initial;
    transition: .5s;
  }

  &__transition-title {
    opacity: 0%;
    transform: translateY(180px);
    transition: .5s;
  }

  &__transition-red {
    color: #DC2626;
    opacity: 0%;
    transform: translateX(-180px);
    transition: .5s;
  }

  &__transition-green {
    color: #16A34A;
    opacity: 0%;
    transform: translateX(180px);
    transition: .5s;
  }

  &__transition-pink {
    color: #DB2777;
    opacity: 0%;
    transform: scale(.1);
    transition: .5s;
  }

  &__breadcrumbs {
    position: fixed;
    top: 20px;
    left: 240px;
  }
}
