.sleep-tracker {

  &__donuts-chart {
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
  }

  .apexcharts-tooltip {
    color: black;
  }

  .btn-modal {
    display: flex;
    margin: auto;
    margin-top: 16px;
    border: 1px solid var(--main-color);
  }
}
